<!-- Created by  Cedric Dos Reis 07-11-2019 -->
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
		<title>Lab 5 - Pac Man</title>
		<style type="text/css">
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
			
		</style>
		<script src="{{ url_for('static', filename="js/Player.js")}}"></script>
		<script src="{{ url_for('static', filename="js/Enemy.js")}}"></script>
		<script src="{{ url_for('static', filename="js/MapGenerator.js")}}"></script>
		<script src="{{ url_for('static', filename="js/GameManager.js")}}"></script>
		<script src="{{ url_for('static', filename="js/lib/three.js")}}"></script>
		<script src="{{ url_for('static', filename="js/lib/jquery-3.4.1.slim.min.js")}}"></script>
	</head>
	<body onload="main()">
		<div id="main">
		</div>
	</body>
</html>